:root {
	--green-5: #5F9600;
	--green-4: #80C30C;
	--green-3: #A3DB44;
	--green-2: #C9F087;
	--green-1: #EEF7DF;
	--green-2-shadow:  rgba(201,240,135,60%);
	--green-4-shadow:  rgba(128,195,12,60%);
	
	--brown-5: #A28100;
	--brown-4: #D3AA0D;
	--brown-3: #EDCB49;
	--brown-2: #FFE88F;
	--brown-1: #FFFAE6;	
	--brown-2-shadow:  rgba(255,232,143,60%);
	--brown-4-shadow:  rgba(211,170,13,60%);
	
	--purple-5: #850044;
	--purple-4: #AD0B5D;
	--purple-3: #C23C80;
	--purple-2: #DA7AAB;
	--purple-1: #ECD5E1; 
	--purple-2-shadow:  rgba(218,122,171,60%);
	--purple-4-shadow:  rgba(173,11,93,60%);
	
	--blue-5: #180A71;
	--blue-4: #2B1B92;
	--blue-3: #4F41A4;
	--blue-2: #8076BF;
	--blue-1: #CECBDE;
	--blue-2-shadow: rgba(128,118,191,60%);
	--blue-4-shadow: rgba(43,27,146,60%);
	
	--red-1: #F8D9DC;	
	--red-2: #F67D8B;
	--red-3: #EC394E;
	--red-4: #DA001A;
	--red-5: #B00015;
	--red-2-shadow:  rgba(246,125,139,60%);
	--red-4-shadow:  rgba(218,0,26,60%);
}

body{
	font-size:20px;	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	/*font-family:Helvetica;*/
	-webkit-font-smoothing: antialiased;
}

button{
	border:white 2px solid; /*baseline border, override color later*/
	border-radius:10px;
	
	font-size: 16px;
	font-weight: bold;
	
	min-width: 80px;
	
	padding: 6px;
	margin: 5px;
	
	background-color: white; /*baseline color, override later*/
	color: black; /*baseline color, override later*/
	
	cursor:pointer;
}

.modal-main{
	background-color:rgba(248, 217, 220, 0.7);
	
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
		
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.modal-main-container{
	border: var(--red-5) 2px solid;
	border-radius:10px;
	background-color:white;
	
	color:var(--red-4);
	padding: 20px;
	width: 50%;
	min-height:30%;
	
	display:flex;
	flex-direction:column;
}

.modal-main-container > * {
	padding: 10px;
	flex: 1 100%;
}

.modal-btn-container{
	border-color:inherit;
	border-width:0px;
	
	align-self:flex-end;
	
	display:flex;
	flex-direction:row;
	flex:0 0 auto; /*shrink 0, grow 1, original size: auto */
}

.modal-btn{
	border-color: inherit; /*take it from the card*/
	background-color: var(--red-3);
	color:white;
}

.modal-btn:hover{
	box-shadow: 2px 2px 4px var(--red-4-shadow);
}

.modal-msg{
	color:var(--red-3);
	margin:5px;
	font-size:14px;
}

.modal-nth-error{	
	padding: 2px;
	display: inline-block;
	border: 1px solid var(--red-4);
	width:90%;
}

.modal-nth-error:nth-of-type(odd) {
    background-color: var(--red-1);
}

.main-wrapper{
	width: 100%;
	min-height: 100%;
	position: absolute;
	
	display:flex;
	flex-direction:column;
}

.main-wrapper > * {
	padding: 5px;
}

.main-header{
	background-color:var(--green-4);
	color:var(--green-1);
	
	max-height: 70px;
	flex: 0 0 auto;
	flex-basis:70px;
}

.main-footer{
	background-color:var(--green-4);
	color:var(--green-1);

	max-height:50px;
	flex: 0 0 auto;
	flex-basis:50px;
}

.main-content{/*between the header and footer*/
	padding:0px;
	background-color:var(--red-1); /*temp debug*/
	
	display:flex;
	flex:2 2  auto;
	flex-direction:row nowrap;
}

.icon-span{
	font-size:40px;	
	font-family:iconFont;
}
.icon-span-2{
	font-size:16px;	
	font-family:iconFont;
	margin-left:5px;
	cursor:pointer;
}
.nav-left{
	background:var(--green-5);
	overflow:wrap;
	flex: 0 0 100px; /*don't grow, don't shrink, stay 100px wide*/
}

.nav-tile {
	font-size:12px;	
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
	
	display:inline-block;
	padding:5px 0px 5px 0px;
	width:100px;
	
	background:var(--green-5);
	color:white;
	/*	
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	*/
}

.sub-tile{
	margin:5px;
	margin-right:0px;
}

.sub-tile-inactive{
	background:var(--green-5);
	color:white;	
}

.sub-tile-group{
	display:none;
	min-height:30px;
	/*
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 2.7s ease;
	*/
}

.sub-tile-visible{
	display:block;	
}

.nav-tile-active .sub-tile-inactive{
	background-color:var(--green-4);
	color:white;
}

.nav-tile-active, .sub-tile-active{
	background-color:var(--green-1);
	color:var(--green-4);
}

.nav-tile:hover, .sub-tile:hover{
	color:var(--green-5);
	background:white;
}

.app-main{
	background-color:var(--green-1);
	padding:10px;
	display:flex;
	flex:2 2 auto;
	flex-direction:column;
	justify-content:center;
	flex-align:center;
}

.flex-wrapper{
	margin: 5px;
	background-color:white;
	padding: 5px;
	display:flex;
	flex: 1 1 auto; /*grow, shrink, basis*/
	flex-flow: row wrap;
	justify-content:center;
	align-items:center;  
}

.card{
  width:700px;
  height:700px;
  margin:5px;
  padding:5px;
  border: 2px solid black;
  border-radius:5px;
  box-shadow: 4px 4px 8px gray;
}

.purple .card{
	border-color:var(--purple-5);
	color:var(--purple-4);
	background-color:var(--purple-1);
	box-shadow: 4px 4px 8px var(--purple-4-shadow);
}

.blue .card{
	border-color:var(--blue-5);
	color:var(--blue-4);
	background-color:var(--blue-1);
	box-shadow: 4px 4px 8px var(--blue-4-shadow);
}

.brown .card{
	border-color:var(--brown-5);
	color:var(--brown-4);
	background-color:var(--brown-1);
	box-shadow: 4px 4px 8px var(--brown-4-shadow);
}

.green .card{
	border-color:var(--green-5);
	color:var(--green-4);
	background-color:var(--green-1);
	box-shadow: 4px 4px 8px var(--green-4-shadow);
}


.card p.card-title{
	text-align:center;
	
	font-weight:bold;
}

.card-text{
	font-size:16px;
}

.card-content{
	margin:20px;
}

.sub-card{
	width:100%;
	max-height:80%;
	background-color:inherit;
	border-color:inherit;
	
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-items:center;
}

.button-tile{
	flex: 1 1 160px;
	height:160px;
	
	border: 1px solid gray;
	border-color: inherit;
	border-radius:3px;
	padding:10px 5px;
	margin:15px;
	
	background-color:white;
	text-align:center;
}

.button-tile-fixed{
	flex: 0 0 190px;
}

.results-tile{
	flex: 1 1 160px;
	max-height:240px;
	height:200px;
	
	border: 1px solid gray;
	border-color: inherit;
	border-radius:3px;
	padding:10px 5px;
	margin:15px;
	
	background-color:white;
	text-align:center;
	font-size:14px;
	overflow: auto;
	overflow-x:hidden;
}

.results-header{
	display:inline-block;
	width:280px;
	background-color:var(--green-5);
	color:white;
	font-weight:bold;
	margin-top:5px;	
}



.purple .button-tile:hover{
	cursor:pointer;
	box-shadow: 4px 4px 4px var(--purple-4-shadow);
}

.green .button-tile:hover{
	cursor:pointer;
	box-shadow: 4px 4px 4px var(--green-4-shadow);
}

.blue .button-tile:hover{
	cursor:pointer;
	box-shadow: 4px 4px 4px var(--blue-4-shadow);
}

.brown .button-tile:hover{
	cursor:pointer;
	box-shadow: 4px 4px 4px var(--brown-4-shadow);
}

.button-title{
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}

.button-text{
	
	font-size:16px;
}

.text-checklist{
	display: inline-block;
	width: 210px;
}

.text-checklist-2{
	display: inline-block;
	width: 300px;
}

.text-tick{
	display: inline-block;
	width: 20px;
	text-align:center;
}

.text-tick-hide{
	color: transparent;	
}

/*
#sub-card-balances .button-tile{
	flex-grow: 0;
}
*/
.fs-hidden{/*make the file selector disappear*/
	opacity:0;
	width:0;
}

.text-choose{
	font-weight:bold;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
	font-size:11pt;
	font-family:Calibri;
}

tr:nth-child(odd)		{ background-color:#d8e4bc; }
tr:nth-child(even)		{ background-color:#c4D79b; }

thead{
	font-weight:bold;
	font-size:12pt;
	font-family:Calibri;
	background-color:#76943c; 
}

td.unalloc, tr.unalloc{
	font-weigth:italics;
	background-color:blue;
}

